* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	background-color: rgb(78, 78, 78);
	box-sizing: border-box;
}

h1 {
	color: rgb(0, 0, 0);
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 1rem 0 3rem;
	font-family: 'Bungee Shade';
}

.title {
	margin-right: 5px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}

.inputDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	background-color: rgba(155, 155, 155, 0);
	border: none;
	outline: none;
	padding: 0.5rem 0.5rem;
	height: 50px;
	width: 300px;
	margin: 0.1rem;
	transition: .5s;
	font-size: 1.15rem;
	z-index: 1;
}

::-webkit-input-placeholder {
	color: rgb(255, 255, 255);
}

:-moz-placeholder {
	/* Firefox 18- */
	color: rgb(255, 255, 255);
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: rgb(255, 255, 255);
}

:-ms-input-placeholder {
	color: rgb(255, 255, 255);
}

.add {
	outline: none;
	border: none;
	height: 40px;
	border-radius: 40px;
	width: 80px;
	background-color: #ffffff;
	color: #000000;
	cursor: pointer;
	transition: .5s;
	margin: 0.25rem;
	font-size: 20px;
	font-family: 'Bungee Shade', cursive;
}

.add:hover {
	opacity: 0.7;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item {
	padding: 0.5rem;
	/* border-bottom: 1px solid rgb(99, 0, 0); */
	margin-bottom: 1rem;
}

.item_input {
	background: none;
	outline: none;
	border: none;
	color: rgb(255, 255, 255);
	font-size: 1.4rem;
	width: 245px;
	z-index: 2;
}

.edit {
	background: none;
	outline: none;
	border: none;
	color: #ffffff;
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	margin: 0 0.5rem;
	cursor: pointer;
}

.remove {
	background: none;
	outline: none;
	border: none;
	color: rgb(0, 0, 0);
	font-size: 1.4rem;
	font-family: 'Hind', sans-serif;
	cursor: pointer;
}